{% extends 'calorie_tracker/base.html' %} {% block content %}
<h4>Calorie Goal</h4>
<br />
<div class="row mx-3">
  <div class="col-md-10">
    <div class="progress" role="progressbar">
      <div
        class="progress-bar progress-bar-striped bg-dark"
        style="width: 30%"
      ></div>
    </div>
  </div>
</div>
<div class="row my-5">
  <form action="" method="POST">
    <div class="form-group">
      {% csrf_token %}
      <label for="" class="col-md-2">
        <h5>Add Food</h5>
      </label>
      <select class="form-select" name="food_consumed" id="food_consumed">
        {% for food in foods %}
        <option value="{{ food.name }}">{{ food.name }}</option>
        {% endfor %}
      </select>
      <button type="submit" class="btn btn-dark col-md-2 mx-5">Add</button>
    </div>
  </form>
</div>
<div class="row">
  <div class="col-md-6">
    <div>
      <h4>Today's Consumption</h4>
    </div>
    <table id="table" class="table table-striped">
      <thead class="table-dark">
        <tr>
          <th scope="col">No.</th>
          <th scope="col">Consumed(Food)</th>
          <th scope="col">Carbs(gm)</th>
          <th scope="col">Protein(gm)</th>
          <th scope="col">Fat(gm)</th>
          <th scope="col">Calories(Kcal)</th>
          <th scope="col">Remove</th>
        </tr>
      </thead>
      <tbody>
        {% for item in consumed_food %}
        <tr>
          <td></td>
          <td>{{ item.food_consumed.name }}</td>
          <td>{{ item.food_consumed.carb }}</td>
          <td>{{ item.food_consumed.protein }}</td>
          <td>{{ item.food_consumed.fat }}</td>
          <td>{{ item.food_consumed.calories }}</td>
          <td>
            <a class="btn btn-dark" href="{% url 'delete' item.id %}">
              <i class="bi bi-x-circle"></i>
            </a>
          </td>
        </tr>
        {% endfor %}
        <tr>
          <td id="name"><b>Total</b></td>
          <td id="totalCarb"></td>
          <td id="totalProtein"></td>
          <td id="totalFat"></td>
          <td id="totalCalories"></td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="col-md-5 offset-1">
    <div>
      <h4>Today's breakdown</h4>
    </div>
    <div class="card-header bg-dark text-white">
      <h2>Macronutrients breakdown</h2>
    </div>
    <div class="col-md-12">
      <canvas id="myChart" style="width: 100%; max-width: 700px"></canvas>
    </div>
  </div>
</div>
{% endblock %}
